html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    padding: 0.6rem 2rem;
    opacity: 1;
    width: 95%;
    z-index: 20;
}

.title {
    text-transform: uppercase;
    margin-top: 0.2rem;
    font-size: 17px;
    font-weight: bold;
}

.grow {
    flex-grow: 1;
}

.grow2 {
    flex-grow: 2;
}

header ul {
    display: flex;
    list-style-type: none;
}

.nav-item {
    padding: 0.5rem 1rem;
    font-size: 13px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 300ms ease;
}

.nav-item:hover {
    background-color: #E1EEF6;
}

#smallMenu {
    display: none;
}

#bigMenu {
    cursor: pointer;
}

.cover {
    display: none;
}

.show-cover {
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    opacity: 0.7;
    z-index: 5;
    background-color: black;
}

.menu, .big-menu {
    width: 0;
    position: fixed;
    top: 7vh;
    right: 0;
    height: 100vh;
    background-color: white;
    color: black;
    transition: width 300ms ease;
    z-index: 100;
}

@media only screen and (max-width: 1040px) {
    .products, .misc {
        display: none;
    }

    #smallMenu {
        display: block;
        background-color: #E1EEF6;
        margin-right: 10px;
    }
    #smallMenu:hover {
        cursor: pointer;
    }
}

/* model S */
#modelS {
    background-image: url("images/m1.jpg");
}

#model3 {
    background-image: url("images/m2.jpg");
}

#modelY {
    background-image: url("images/m3.jpg");
}

#solarP {
    background-image: url("https://tesla-view.thron.com/api/xcontents/resources/delivery/getThumbnail/tesla/150x172/010f69c3-2754-4d8d-86a5-72280c7bd901.jpg?v=25");
}

#solarR {
    background-image: url("https://tesla-cdn.thron.com/delivery/public/thumbnail/tesla/be7a261d-0558-4543-955f-9dbfd3c52f14/bvlatuR/std/440x506/SolarRoof_01?lcid=f42985a7-123c-479f-b782-afb4e6a5980f&v=40");
    text-align: center;
}

#modelS, #model3, #modelY, #solarP, #solarR {
    position: relative;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

}

.btns {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    bottom: 20vh;
    width: 100%;
}

.btns button {
    flex: 0 1 300px;
    border-radius: 5px;
    padding: 0.4rem;
    font-weight: bold;
}

.order {
    filter: opacity(0.5);
    background-color: black;
    color: white;
    
}
.inventory {
    filter: opacity(0.5);
}

.footer {
    text-align: center;
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px;
    width: 100%;
    color: black;
}